<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <h1 id="score"></h1>
    </div>
  </div>
  <h4 id="count"></h4>
  <div class="row">
    <div class="col-md-3">
      <select multiple class="form-control" id="playlists">
      </select>
    </div>
  </div>
  <div class="row">
    <h3>Recently Scored Playlists</h3>
    <div class="col-md-6">
      <ul id="recent">
        <% HipsterScore.recent(10).each do |hipster_score| %>
          <li><%= hipster_score.playlist_name %> by <%= hipster_score.owner_name %> - <%= hipster_score.score %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<script src="//js.pusher.com/2.2/pusher.min.js" type="text/javascript"></script>
<script src="/assets/hipster_score_calculator.js"></script>

