<div class="container-fluid">
  <h4 id="count"></h4>
  <div class="row">
    <div class="col-md-3">
      <select multiple class="form-control" id="playlists">
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <ul id="tracks">
      </ul>
    </div>
  </div>
</div>

<script src="/assets/hipster_score_calculator.js"></script>

