<section id="intro">
  <div class="row">
    <div class="col-sm-offset-3 col-sm-6 content">
      <h1 id="playlist-name">Your Playlist</h1>
      <div id="spinner"></div>
      <h1 id="playlist-score"><b>0.0</b></h1>
      <select class="cs-select cs-skin-elastic" id="playlists">
        <option id="disabled" value="" disabled selected>Select a Playlist</option>
      </select>
    </div>
  </div>
</section>

<script src="//js.pusher.com/2.2/pusher.min.js" type="text/javascript"></script>
<script src="/assets/spin.min.js"></script>
<script src="/assets/calculator.js"></script>
