/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
  position: relative;
}

body,
h1,
h2 {
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

section#intro {
  text-align: center;
  padding: 150px 20px 160px;
  box-sizing: border-box;
  height: auto;
  min-height: 60%;
  background: url('bg.jpg') 50% 50% no-repeat;
  background-size: cover;
}

section#top {
  background: #2b2525;
}

section#recent {
  background: #fd6154;
}

section header {
  padding: 50px 20px;
}

footer {
  padding: 20px 0 100px 0;
  color: #5d5858;
}

footer p {
  text-align: center;
}

table {
  border-radius: 4px;
  height: 234px;
  width: 100%;
  margin-bottom: 60px;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

h1, h2 {
  text-align: center;
}

.cs-skin-elastic .cs-options span {
  padding: 0.8em 1em 0.8em 2em;
}

div.cs-select {
  border: 0px;
  color: #57534a;
}

span.cs-placeholder {
  border-radius: 4px;
  transition: border-bottom-left-radius 1s, border-bottom-right-radius 1s;
  -webkit-transition: border-bottom-left-radius 1s, border-bottom-right-radius 1s;
}

.cs-skin-elastic .cs-options {
  display: none;
}

.cs-skin-elastic.cs-active .cs-options ul .cs-selected,
.cs-skin-elastic.cs-active .cs-options ul li.cs-focus span,
.cs-skin-elastic.cs-active .cs-options ul li:hover {
  background: #84BD00;
}

.cs-skin-elastic.cs-active .cs-options ul .cs-selected span,
.cs-skin-elastic.cs-active .cs-options ul .cs-focus span,
.cs-skin-elastic.cs-active .cs-options ul li:hover span{
  color: white;
}

.cs-active span.cs-placeholder {
  border-bottom: 1px solid silver;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.cs-active .cs-options {
  display: block;
  background: white;
  height: 400px;
  overflow-y: scroll;
  padding-bottom: 0px;
}

.cs-select:active,
.cs-select:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
}

footer {
  height: 80px;
  background: rgb(32, 25, 25);
}

table tr {
  height: 40px;
  border-bottom: 1px solid rgb(189, 189, 189);
}

section#recent table tr {
  border-bottom: 1px solid rgb(81, 73, 73);
}

table thead th {
  padding-bottom: 5px;
}

table th,
table td {
  padding: 0 10px;
  overflow: hidden; text-overflow: ellipsis;
}

.progress {
  margin-bottom: 0px;
  margin-top: 10px;
  background-color: #FFFFFF;
}

.progress-bar {
  background-color: #84BD00;
}

section#recent .progress-bar {
  background-color: #514949;
}

section#recent a {
  color: #514949;
}

section#recent a:hover {
  color: black;
}

table td.scale {
  min-width: 70px;
}

a {
  color: #84BD00;
}

a:hover {
  text-decoration: none;
  color: #537700;
}

table thead tr {
  border-bottom: 2px solid #BDBDBD;
  vertical-align: bottom;
}

div.cs-select {
  max-width: none;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 300;
}

.cs-skin-elastic > span {
  background: rgba(255,255,255,0.85);
  text-align: center;
}

section#intro h1 {
  margin-bottom: 20px;
  line-height: 70px;
}

td.scale {
  width: 150px;
}

td.score {
  width: 100px;
}

.btn {
  border-radius: 44px;
  padding: 14px 29px 20px 29px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 30px;
  color: white;
  font-weight: 300;
}

.btn#sign-in {
  margin-top: 40px;
}

.btn:active,
.btn:active:focus,
.btn:focus {
  text-decoration: none;
  outline: none;
}

.btn:focus {
  color: white;
}

.btn:focus:hover {
  color: black;
}

.btn:hover {
  background-color: white;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

#spinner .spinner {
  margin-top: -50px;
}

section#intro .dynamic {
  min-height: 426px;
}

table {
  table-layout: fixed;
}

td.playlist-name h3,
h1#playlist-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.btn#share {
  margin-top: 20px;
}

nav.navbar {
  background-color: rgba(0, 0, 0, 0.0);
  border-bottom: none;
  padding-top: 20px;
}

nav.navbar ul {
  padding-right: 20px;
}

nav.navbar ul li {
  padding-right: 20px;
}

nav.navbar ul li a.btn {
  color: white;
  font-size: 11px;
  padding: 10px;
  text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a:focus {
  color: white;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #333;
}

nav.navbar ul li a.btn:hover {
  background-color: white;
}

nav li#to-top a {
  width: 42px;
}

nav li#to-top.active a {
  background-color: rgba(0, 0, 0, 0);
  color: white;
}

.navbar-nav>li {
  float: left;
}

.navbar-right {
  float: right;
}



@media screen and (max-width: 700px) {
  h1 {
    font-size: 40px;
  }

  td.scale {
    width: 75px;
  }

  td.score {
    width: 80px;
  }
}
