<section id="intro">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <h1 id="playlist-name"><%= @playlist.name %></h1>
      <h1 id="playlist-score"><b><%= score(@playlist.score) %></b></h1>
      <a class='btn' href='/'>View Your Playlists</a>
    </div>
  </div>
</section>
